<div class="comments">
  <h1>Déjanos tu comentario</h1>
  <% form_for :comment, @comment, :url => '/add_comment'  do |f| %>
    <div class="protect"><%= text_field_tag :url, current_path %><%= text_field_tag :username %></div>
    <%= f.text_area :content, :class => 'semiop' %>
    <div class="email">Email
      <span class="semiop">(Si lo pones, te responderemos. Nunca saldrá publicado.)</span>:<br/>
      <%= f.text_field :author, :class => 'semiop' %>
    </div>
    <%= submit_tag 'enviar', :disable_with => 'Un segundito...' %>
  <% end %>
  <% @comments.each do |comment| %>
    <div class="comment semiop">
      <%= fecha comment.created_at %>
      <%= comment.content %>
    </div>
  <% end %>
  &nbsp;
</div>

