<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Las buenas noches &mdash; <%= params[:action] %></title>
    <%= javascript_include_tag 'jquery-1.2.6.min.js' %>
    <%= javascript_include_tag 'flashembed-0.31.pack.js' %>
    <style type="text/css">
      body { background-color: #000; text-align: center; }
      a {display:block; padding: 20px; color: black; }
      a:hover {color: white;}
      #player { width: 682px; height: 384px; margin: 40px auto; }
    </style>
  </head>
  <body>
    <%= render :partial => '/layouts/ga' %>

    <div id="player"></div>
    <a href="/aventuras#videos">volver</a>
    <script>
        // place Flowplayer to our DIV
        flashembed("player", "/swf/FlowPlayerLight.swf", {

            config: {
                controlsOverVideo: 'ease', controlBarBackgroundColor: -1, showMenu: false,
                showScrubber: true, showVolumeSlider: true, controlBarGloss: 'none',
                showMuteVolumeButton: false, showFullScreenButton: true,
                useNativeFullScreen:true, initialVolumePercentage: 100, autoPlay: false,
                showMenu: false, progressBarColor1 : '#000', progressBarColor2: '#000',
                baseURL: 'http://www.danielcuberta.com/videos/videos/',
                videoFile: '<%= @video %>',
                initialScale: 'fit'
            }
        });
    </script>
  </body>
</html>