<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="icon" href="/lbn.ico" type="image/x-icon" />
    <title>Las buenas noches &mdash; Aventuras dom&eacute;sticas &mdash; <%= params[:action] %></title>
    <%= javascript_include_tag 'jquery-1.2.6.min.js' %>
    <%= stylesheet_link_tag 'screen', :media => 'screen, projection'  %>
    <%= stylesheet_link_tag 'print', :media => 'print'  %>
    <%= stylesheet_link_tag 'aventuras' %>
    <%= yield :header %>
    <!--[if IE]><%= stylesheet_link_tag 'ie', :media => 'screen, projection'  %><![endif]-->
    <script>
      $(function() {
        $(".hoverable a").fadeTo(0, 0.6);
        $(".hoverable a").hover(
        function() {$(this).fadeTo(600, 1);},
        function() {$(this).fadeTo(300, 0.6);
        }
      );
        $("#cmts").load('/comments');
      });
    </script>
  </head>
  <body style="background-color: #141517;">
    <%= render :partial => '/layouts/ga' %>

    <div class="container">
      <div class="span-24 last" style="text-align: center" >
        <%= link_to image_tag('aventuras/lasbuenasnoches.gif', :size => '428x175'), (current_page?('/aventuras') ? '/' : '/aventuras') %><br/>
        <%= link_to image_tag('aventuras/aventurasdomesticas-p.gif', :size => '308x56'),  :action => 'lasbuenasnoches' %><br/>
        &nbsp;
      </div>


      <%= yield %>
    </div>

    <div id="cmts"></div>
    <%= render :partial => '/layouts/ga' %>
  </body>
</html>
