<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Las buenas noches &mdash; <%= params[:action] %></title>
    <%= javascript_include_tag 'jquery-1.2.6.min.js' %>
    <%= javascript_include_tag 'flashembed-0.31.pack.js' %>
    <%= stylesheet_link_tag 'videos' %>
  </head>
  <body>
    <%= render :partial => '/layouts/ga' %>

    <div id="player"></div>
    <script>
        // place Flowplayer to our DIV
        flashembed("player", "/swf/FlowPlayerLight.swf", {

            config: {
                controlsOverVideo: 'ease', controlBarBackgroundColor: -1, showMenu: false,
                showScrubber: true, showVolumeSlider: true, controlBarGloss: 'none',
                showMuteVolumeButton: false, showFullScreenButton: true,
                useNativeFullScreen:true, initialVolumePercentage: 100, autoPlay: false,
                showMenu: false, progressBarColor1 : '#000', progressBarColor2: '#000',
                baseURL: 'http://www.danielcuberta.com/videos/videos/', 
                videoFile: 'la plaga b1.flv',
                initialScale: 'fit'
            }
        });
    </script>
  </body>
</html>